@charset "UTF-8";
/* 도깨비 PJ 공통 미디어쿼리 CSS - media.css */


/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1200px) {
    /* 하단 - 브랜드바로가기 */
    .brand {
        top : 159px;
        right: 10px;
    }
    
} /* 1200px 사이즈 이하 미디어쿼리 끝*/


/* 1024px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 1024px) {
    /* 전체 글자크기 변경 */
    html {
        /* rem단위 글자 모두 변경 */
        font-size: 8.235px;
        /* 
           [ 기준 글자 계산 : GNB 메뉴 기준 ] 
           처음 -> 1.7rem * 10px = 17px
           변경 -> 1.7rem * 몇px = 14px
           => 계산 : 몇px = 14px / 1.7rem
           => 결과 : 8.23px
           ?rem * 몇 px = 14px 
        */
    }
    /* 메인 속박스 */
    .cont {
        /* 가로크기에 대한 비율 */
        min-height: 100vh;
    }
    /* 전체 캐릭터 박스 */
    .cbx {
        width: 80%;
        margin-top: 10vh;
    }

    /* 각 캐릭터 박스 공통 */
    .cat {
        position: relative;
        /* 부모자격 .cd */
        /* 2등분할 가로크기 -> 50% - 마진(1%) => 49% */
        width: 49%;
        margin-bottom: 20px;
    }
    /* 마우스 오버시 마진탑 제자리 */
    .cat:hover .ci {
        margin-top: 0;
    
    }    
    /* 캐릭터 설명 박스 */
    .cd {
        position: absolute;
        /* 부모 -> .cat */
        z-index: 1;
    }
    /* 등장글자 제거 */
    #mvtxt {
        display: none;
    }
    
} /* 1024px 사이즈 이하 미디어쿼리 끝*/


/* 780px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 780px) {
    /* 가로스크롤 없애기 */
    html, body {
        width: 100vw;
        overflow-x : hidden;

    }
    /* 상단영역 */
    .top {
        height: 80px;
        position: relative;
        /* 부모자격 - 햄버거버튼(.ham) -> 가로스크롤 문제가 발생하여 부모자격 줌 */
    }
    /* 디스플레이 없애기 */
    .tmenu, .smbx, .gnb {
        display: none;
    }
    
    /* gnb메뉴 변경하기 
       -> .top에 .on을 준 경우 적용 */
    .top.on .gnb {
        display: block;
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .top.on .tmenu{
        display: block;
    }

    nav.gnb > ul {
        /* 플렉스박스 방향 세로로 변경 */
        flex-direction: column;
        text-align: center;
        margin-top: 15vh;
    }
    /* li세팅 */
    .gnb > ul > li {
        margin: 0;
        height: 10vh;
        /* li가 6개 이므로 보이는 높이의 60% 차지 */
    }

    /* GNB 상위메뉴 a 변경 */
    .gnb > ul > li > a {
        color: #fff;
        font-size: 5vh;
        line-height: 10vh;
    }

    /* 탑메뉴 */
    aside.tmenu {
        position: fixed;
        top: 85vh;
        width: 100vw;
    }

    .tmenu ul {
        /* 플렉스 진행방향 중앙 */
        justify-content: center;
        flex-wrap: wrap;
    }

    .tmenu>ul>li>a {
        color : #fff;
        font-size: 6vw;
    }

    .tmenu>ul>li:last-child {
        /* 마지막 li 100% - 한줄차지 */
        width: 100%;
    }

    /* sns 메뉴 */
    .tmenu ol {
        justify-content: center;
        margin-top: 2vh;
        transform: scale(1.3);
    }

    /* 햄버거 버튼 보이기 */
    .ham {
        display: block;
        z-index: 9999;
    }

    /* 햄버거버튼 상위.top에 클래스 on줄경우 X버튼으로 변경 */
    .top.on .ham {
        z-index: 9999;
        color: #fff;
        transform: scale(1.5);
    }
    .top.on .ham::before {
        content: '×';
    }
    /* 메인영역 */
    /* 각 캐릭터 박스 공통 */
    .cat {
        /* 2등분할 가로크기 -> 50% - 마진(1%) => 49% */
        width: 99%;
    }    
    /* 캐릭터 설명박스 */
    .cd {
        /* 자리차지 포지션으로 전환 */
        position: static;
    }
    
    /* 캐릭터 설명 타이틀 */
    .cd h3 {
        font-size: 6vw;
    }
    /* 캐릭터 설명 문단 */
    .cd p {
        font-size: 4vw;
        padding: 3vw;
    }
    /* 문단 첫글자 */
    .cd p:first-child::first-letter {
        font-size: 7vw;
    }   
    /* 하단영역 */
    /* 하단링크 */
    .blink > ul>li:nth-child(-n+3){
        display: none;
    }
    /* 브랜드 바로가기 */
    .brand {
        top: auto;
        bottom: 40px;
        
    }
} /* 780px 사이즈 이하 미디어쿼리 끝*/

/* 500px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width: 500px) {
    
} /* 500px 사이즈 이하 미디어쿼리 끝*/