@charset "utf-8";

/* 네비게이션 유형6 : 공통CSS - main.css */

/* 외부 CSS합치기 */
@import url(./reset.css);
@import url(./common.css);


/* 배너전체박스 */
.banbx{
    position: relative;
    /* 부모자격 */
    /* height: 100vh; */
    aspect-ratio: 1 / 0.4;
    /* background: red; */
    padding: 80px 0;
}

/* 가상요소로 배경색 넣기 */
.banbx.ban1::before {
    content: '';
    top: 0;
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: #222;
}
/* 배너컨텐츠박스 */
.bancont {
    /*슬라이드부모*/
    position: relative;
    /* 부모? .page */
    /* top: 10%; */
    /* transform: translateY(-50%); */
    /* 세로중앙 */
    left: 25vw;
    width: 50vw;
    aspect-ratio: 1/0.55;
    box-sizing: border-box;
    /* outline: 3px solid #00f; */
}




.slide {
    display: flex;
    /* 플렉스박스!!! */
    gap: 0 10vw;

    /*사진을 싸고 있는 슬라이드*/
    position: absolute;
    top: 0;
    left: -240%;
    /* 2장이 앞쪽에 나가있음 
    원래는 -200%인데 양쪽사이간격을 10%씩 줬기 때문에 20%더해서 값을 줌(하나당 120%) */
    width: 100%;
    height: 100%;
}

.slide li {
    flex-shrink: 0;
    /* 부모박스크기만큼 줄어들지 않음 -> 0 */
    flex-basis: 100%;
    /* 가로크기를 부모박스 크기에 맞춤! */
    /* height 값은 flex박스 자식요소에서
    등분할시 자동 100%임! */
    /* outline: 2px dashed #f00; */
    /* filter: brightness(70%); */
    box-shadow: 0 10px 20px rgba(34, 34, 34, 0.295);
}

.ban1 .slide li:nth-child(3) {
    transform : scale(1.2);
    transition: .3s;
    filter: brightness(100%);
    z-index: 1;
}

.slide li img {
    /*이미지는 박스에 맞춤!*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율유지 채우기! */
}

/*이동버튼*/
.abtn {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    /*Y축 중앙이동*/
    z-index: 2;
    width: 24px;
    height: 51px;
    /* background-color: #000; */
    background-image: url(../img_nav06/main.png);
    background-size: 190px 175px;
    background-repeat: no-repeat;
    /* outline: 1px solid red; */
}

/*왼쪽버튼*/
.ab1 {
    left: 16.5vw;
    background-position: -26px -124px;
}

/*오른쪽버튼*/
.ab2 {
    right: 16.5vw;
    background-position: -166px -53px;
}

/* 2번배너 셋팅 */
.ban2{
    width: 50%;
    margin: 100px auto;
    padding: 0;
    overflow: hidden;
    aspect-ratio: 1/1;
}
.ban2 .bancont{
    width: 100%;
    aspect-ratio: 1/1;
    transform: translateX(-50%);
}
/* 버튼위치 */
.ban2 .ab1{
    left: 20px;
}
.ban2 .ab2{
    right: 20px;
}