@charset "UTF-8";
/* 서브페이지 공통 CSS - sub.css */

/* 
   [ import 로 파일 합치기 ]
     외부 css 파일에서 다른 외부 css 파일을 import 방식으로 불러올 때 장점?
     html 에서 link 요소로 호출할 경우
     http request(웹요청) 이 많아져서 페이지 랜더링 속도에 영향을 미친다
     따라서 import 방식을 사용하면 더 적은 request 에 따라 처리 속도의 도움이 됨

     - 주의 import 는 css 파일 상단에서 처리함
*/
/* @import url(파일주소); */

@import "common.css";

/* 본 css 설정 코드는 하단에 함 */

/* 메인영역박스 */
.cont {
    /* 패딩 15px (기존 20px 재정의) */
    padding : 15px;
    /* 글씨체 ff*/
    font-family: 'NanumSquareRound';
}

/* 2-1. 언론사 로고 */
.prlogo img {
    height:  32px;
    /* 이미지는 가로-세로 중 한쪽만 주면 자동 비율 유지함 */   
}

/* 2-2. 기사 제목 */
.atit {
    /* 글자 크기 fz30*/
    font-size: 30px;
    /* 글자 두께 fwn */
    font-weight: normal;
    /* 글자간격(자간) letter-spacing : ls
       기본값 0, 양수는 멀어짐 음수는 가까워짐 */
    letter-spacing : 1px;
    /* 단어간격 word-spacing : ws
       기본값 0, 양수는 멀어짐 음수는 가까워짐 */
    /* 줄바꿈 방지 : white-space 
       값 -> nowrap 줄바꿈 되지 않고 끝까지 간다. 
             normal(기본값) 박스 끝에서 줄바꿈
      [ 쓰이는 용도 ]
        줄바꿈이 되면 안될 때 사용함
        ex. 한줄에 오는 버튼 글자, 한 줄에 말줄임표      
    */
       
}

/* 2-3. 기사 사진(설명 포함)   */
.afig {
    /* 마진 m : 2개값 -> 상하 좌우 */
    margin: 15px 0;
    /* 인라인 가롲ㅇ앙 : text-align center(tac)  */
    text-align: center;
}

/* 기사이미지 */
.afig img {
    width: 100%;
}

/* 기사이미지 설명 */
.afig small {
    /* 글자 크기 최저 한계는 10px */
    font-size: 10px;
    /* 글자색 */
    color: gray;
}
/* 2-4. 기사 내용 */
.arti p {
    /* 글자 크기 */
    font-size: 16px;
    /* 줄 간격 
       -> 주의 단위가 없으면 배수(기준 : 글자 크기)로 표현됨 */
    line-height: 1.3;
    /* 글자 간격(자간) */
    letter-spacing : 1px;
    /* 양쪽 패딩 : 상하 좌우 */
    padding : 0 10px;
    /* 글자 들여쓰기 : text-indent (ti)
       값 양수는 들여쓰기 음수는 내어쓰기 */
    /* text-indent: 20px; */
    /* 양쪽 정렬 : taj */
    text-align: justify;

}

/* p 요소 아래 mark 요소 변경하기 */
.arti p mark {
    display: block;
    /* 글자 크기 변경 */
    font-size: 20px;
    /* 줄간격 주기 */
    line-height: 2;
    /* 상하 좌우 패딩 */
    padding : 20px 50px;
     /* 배경색 */
     background-color: rgb(223, 223, 223);
     /* 보더 위(top) 아래(bottom) 왼(left) 오(right) */
     border-top: 1px solid gray;
     border-bottom: 1px solid gray;
     /* 가로 중앙 정렬 */
     text-align: center;
     /* 위아래 마진 */
     margin: 15px 0;
}
/* p 요소 아래 em 요소 디자인 변경 */
.arti p em {
    /* 글자 그림자 : text-shadow(ts) 
       값 : x축 y축 블러(그림자경계선) 색
    */
    text-shadow: 2px 2px 2px rgba(255, 116, 116, 0.6);
    /* 이탤릭해제 fsn */
    font-style: normal;
    /* 글자색 */
    color: darkred;
    /* 글자 두껍게 */
    font-weight: bold;
}

.qb, .desc {
    letter-spacing: 1px;
    line-height: 1.3;
    font-size: 14px;
    text-align: justify;
}

/* .cont > h5 와 구분위해 중간경로 article 사용 */
.cont article h5 {
    font-size : 16px;
    background-color: rgb(233, 233, 233);
    /* 내용만큼 자동크기로 설정하기 위해 inline-block 활용 */
    display: inline-block;
    padding : 8px 20px;
    /* border: 1px dotted #555; */
    border-radius: 20px;
    /* 내부 그림자 설정 inset */
    box-shadow: inset 0 0 5px rgba(10, 10, 10, 0.3);
    margin : 0;
}

/* 주해 박스 */

.desc div {
    /* margin-top : 15px; */
    /* 패딩 */
    padding: 15px 5px 0;   
    
}

/* 인용 박스 */

.qb blockquote {
    /* 기본 마진 제거 */
    margin : 0;
    /* 패딩 */
    padding: 15px 10px;
}




/* 2-5. 기자 정보 */
.rpt {
    /* display 출신 변경 
       디자인 적용과 동시에 인라인 특성인 글자만큼만 크기가 적용되도록 인라인블록으로 변경
    */
    display: inline-block;
    /* 글자 크기 */
    font-size: 14px;
    /* 배경색 */
    background-color: rgb(233, 233, 233);
    /* 패딩 */
    padding: 5px;
    /* 마진 */
    margin : 5px 0;
}
/* 2-6. 기사 원문 */
/* 별도의 이름 없이 구조로만 기사원문 선택 (직계 자식 선택자) > */

.cont > h5 {
    /* 내부의 인라인 요소 오른쪽 정렬 */
    text-align: right;
}

.cont > h5 > a {
    /* 디자인 적용 위해 display 변경 */
    display: inline-block;
    /* 기본없애기 */
    margin: 20px 0;
    padding: 0;
    /* 가로, 세로 지정 */
    width: 70px;
    height: 70px;
    /* 테두리 */
    border: 2px solid #dbdbdb;
    /* 글자 가로 중앙 정렬 */
    text-align: center;
    /* 글자 세로 중앙 정렬 : 줄간격으로 */
    line-height: 70px;
    /* 둥글게하기(모서리 둥글게) : border-radius(brad)
       값 : 50% -> 원 */
    border-radius: 50%;
    /* 배경색 */
    background-color: rgb(188, 225, 248)
}

/* 가상 선택자로 오버시 박스 그림자 넣기 */

.cont > h5 > a:hover {
    /* 박스 그림자 : box-shadow (bsh) 
       값 : x y blur spread 색
       (내부그림자 : inset)
       * spread 빅스그림자 크기(필요 시 사용)
    */
    box-shadow: 2px 0px 8px rgb(128, 209, 241);
}

/* 메인 공통 article 박스 디자인 */
.cont article {
    /* 구분선 : 보더 위(border-top) bdt*/
    border-top: 1px dashed #ccc;
    /* 마진 위(margin-top) mt */
    margin-top: 40px;
    /* 패딩(padding) p */
    padding : 15px 
}

/* 각 파트별 공통 타이틀 */
.cont h3 {
    /* 글자체 : 웹폰트 */
    font-family: 'Jua', sans-serif;
    /* 글자 두께 : 얇게 fwn*/
    font-weight: normal;
    /* 글자 크기 fz */
    font-size: 24px;
    /* 글자 들여쓰기 ti */
    text-indent: 10px;
    /* 글자색 */
    color: rgb(28, 66, 88);
}

/* 오늘의 작품 */
.work {
    /* 글자중앙 */
    text-align: center;
    /* background-color: lightblue; */
    /* 그라데이션 -> 이미지로 bgi 
       linear-gradient(방향, 색1 %, 색2 %, ...)
       방향 : to top, to bottom, to left, to right
       (방향에 각도(deg, ex. 45deg)를 쓰면 그라데이션 각도가 표현됨)
       * 색상을 콤마로 나열하면 등분할 하여 그라데이션 표현됨
       * 색상뒤에 %쓰면 특정 비율을 나타낼 수 있음.
    */
    background-image: linear-gradient(to bottom, lightblue 5%, white 95%);
    /* 배경옵션 추가 
       background-clip : 배경이 적용되는 범위 설정
       1. border-box -> border 까지 적용(기본값)
       2. padding box -> padding 까지 적용
       3. content box -> 내용 영역만 적용
    */
    background-clip: content-box;
}