@charset "utf-8";
/* CatSwipe 모듈용 CSS */

.catswbox {
    max-width: 1320px;
    margin: 0 auto;
    padding-bottom : 50px;
}

.catswbox .tit{
    padding: 20px 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    font-size: 36px;
}


