@charset "utf-8";

.vidbx {
    padding : 50px 0;
    margin: 30px 0;
    text-align: left;
}

.subvidbx {
    background-color: #0074e8;
    color : #deedfc;
}

.vid_wrap {
    display: flex;
    gap : 0 20px;
    max-width: 1320px;
    justify-content: center;
    margin: 0 auto;
}

.vidbx_video {
    width : 55%;
}

.vidbx_video iframe {
    border: none;
    aspect-ratio: 731/412;
    width: 100%;
    height: 100%;
}

.vidbx_desc {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 20px;
    width : 45%;
}

.vidbx h2 {
    font-size: 36px;
}

.vidbx a {
    color : #000;
}

.vidbx a:hover {
    color : #0074e8;
}

.subvidbx a {
    color : #deedfc;
}

.subvidbx a:hover {
    color : #fff;
}

@media screen and (max-width:1024px) {
    .vid_wrap {
        flex-direction: column;
        align-items: center;
        padding : 0 50px;
    }

    .vid_wrap>div {
        width: 100%;
    }
}