@charset "utf-8";

/* Robot PJ 메인 CSS - robot.css */

/* 웹폰트 */
@import url(https://hangeul.pstatic.net/hangeul_static/css/NanumBanJjagBanJjagByeor.css);

/* 초기화 */
html, body,h1, h2, p, ol, ul {
    margin: 0;
    padding: 0;
}

/************* 공통클래스 *************/
/* 메탈소재1 배경1 */
.mt1 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}

.mt2 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

body {
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
    font-family: 'NanumBanJjagBanJjagByeor';
}

/* 공사중 표시 */
body * {
    outline: 2px dashed yellow;
}
/********************************* 1. 상단영역 *********************************/

/********************************* 2. 메인영역 *********************************/
/* 2-1. 로봇박스 */
.robx {
    /* 패딩 위아래 */
    padding: 200px 0 400px;
}

/* 로봇머리 */
.head {
    position: relative;
    /* 부모자격 static 하면서도 부모자격이 있어야 하기 때문에 position : relavtive
        static 한 성격 -> 마영오 먹히게 하기 위해 */
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 10% 10% 40% 40%;
}
/* 로봇머리 직계 하위 div 모두 앱솔루트 */
.head > div {
    position: absolute;
}
/* 턱깎기 */
/* .head::after {
    content: '';
    display: block;
    position: absolute;
    top: 70%;
    z-index: -1;
    width: 250px;
    height: 100px;
    background: url(../images/metal01.jpg) no-repeat bottom/cover;
    clip-path: polygon(0 0, 30% 100%, 70% 100%, 100% 0);
} */



/* 모자 */
.head::before {
    content: '';
    display: block;
    position: absolute;
    top:-178px;
    left: -40px;
    width: 420px;
    height: 300px;
    background: url(../images/hat2.png) no-repeat center/100%;
}

.head:hover::before {
    content: '';
    display: block;
    position: absolute;
    top:-178px;
    left: -133px;
    width: 420px;
    height: 300px;
    background: url(../images/hat2.png) no-repeat center/100%;
    transform: scaleX(-1);
}

/* 눈공통 */
.eye {
    width: 60px;
    height: 60px;
    top: 50px;
    /* 배경공통 */
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    /* 둥근모서리 */
    border-radius: 50%;
    /* 보더 이중선 : double */
    border: 4px double #000; 

}
/* 왼눈 */
.ey1 {
    background-image: url(../images/eye_l.PNG);
    left: 35px;
}
/* 오른눈 */
.ey2 {
    background-image: url(../images/eye_r.PNG);
    right: 35px;
}
/* 코 */
.nose {
    width: 50px;
    height: 70px;
    top: 105px;
    left: 100px;
    border-radius: 50%;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
}

/* 볼 */
.nose::before {
    left : -90px;
}
.nose::after {
    right : -90px;
}

.nose::before, .nose::after {
    content :'';
    display: block;
    position: absolute;
    width: 50px;
    height: 30px;
    top : 35px;
    border-radius: 50%;
    background-color: rgba(240, 128, 128, 0.342);

}


/* 입 */
.mouth {
    width: 100px;
    height: 50px;
    bottom: 20px;
    left: 75px;
    background: url(../images/mouth3.png) no-repeat 0/100% 100%;
}

/* 입 옆에 별모양점 가상요소로 만들기 */
.mouth::before, .mouth::after {
    content: '';
    display: block;
    position: absolute;
    /* 부모 -> .mouth */
    top: 5px;
    right: -25px;
    width: 20px;
    height: 20px;
    background-color: pink;
    /* 클리핑으로 삼각형 만들기 */
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.mouth::after {
    transform : rotate(180deg) translateY(-30%)
}

/* 
   [ CSS 클리핑 속성 ]
     clip-path : polycon(x1 y1, x2 y2)
     -> 클리핑 범위를 지정하는 것, 클리핑 범위 안의 부분은 보여지고 바깥은 숨겨짐
     -> 각 좌표쌍은 띄어쓰기로 각 점은 콤마로 구분
     -> 각 점은 연결하여 도형 모양 출력 
     -> px 은 각 도형 크기 내부의 수치로 쓰고 %는 도형을 기준한 위치를 %로 나타냄
*/


/* 귀공통 */
.ear {
    width: 35px;
    height: 80px;
    top: 80px;
}
/* 왼귀 */
.er1 {
    left:-35px;
    border-radius: 50% 0 0 50%;
}
/* 오른귀 */
.er2 {
    right: -35px;
    border-radius: 0 50% 50% 0;
}

/* 로봇 몸통 */


/********************************* 3. 하단영역 *********************************/
