@charset "utf-8";
/* 큐브트립 미디어쿼리 CSS - media.css */
/* 미디어쿼리는 다른파일에서 @import방식으로 사용하면 안된다!
반드시 link방식으로 html파일에 삽입한다! */

/* 모바일 미디어쿼리 */
@media only screen and (max-width:950px) {
    /* 2. 메뉴 버튼 */
    .city {
        position: fixed;
        width : 94vw;
        top : auto;
        bottom : 3vh;
        right: auto;
        left : 3vw;
    }

    .city ul {
        width: auto;
        display : flex;
    }

    .city li {
        flex: 1;
        background-image: linear-gradient(to bottom, transparent, rgb(247, 202, 201), rgb(146, 168, 209));
    }

    .city li:hover {
        transform: none !important;
    }

    /* 3. 큐브 */
    :root {
        --csz : 60vw;
    }



    /* 도시이름 */
    h2.cname {
        line-height: 10vw;
        font-size: 6vw;
    }

    /* 도시설명 */
    p.cinfo {
        top: min(10vw, 100px);
        line-height: 5vw;
        font-size: 3vw;
    }
   
}

/* 미디어쿼리  */